/* COMMON STYLES */
:root {
  font-size: 16px;
}

body {
  font-family: 'Raleway', sans-serif;

}

/* LAYOUT */
.cl-container {
  width: 1300px;
  margin: 250px auto;
}

.cl-row-1 {
  float: left;
  display: inline-block;
}


.cl-row-2 {
  display: flex;
}

/*.cl-row-3 {
  display: flex;
  padding-top: 100px;
}*/


.cl-col-50 {
  width: 50%;
}

.cl-col-50:first-child {
  padding-right: 3em;
}

.cl-section--decentralised-economy div {
  padding-left: 5em;
  margin-bottom: 220px;
}

.cl-title-1--center {
  text-align: center;
}

.cl-label--top-center {
  transform: translateY(-100px); 
  text-align: center;
} 

.cl-label--top-left {
  transform: translateY(-12rem);
}

.cl-list-1--icon p {
    margin-left: 30px;
}



/* TYPOGRAPHY */
p, ul { 
  line-height: 1.7rem;
  font-weight: 300; 
}

h4 {
  font-size: 1rem;
  line-height: 1.7rem;
  font-weight: 700;
}

li {
  margin-bottom: .7em;
}
.cl-title-1 {
  font-weight: 700;
  font-size: 2.5rem;
  margin: 1em 0 0 0;
}

.cl-title-2 {
  font-weight: 100;
  font-size: 2.7rem;
  margin: 0 0 .9em 0;
}

.cl-label {
  font-size: 0.7rem;
  font-weight: 600;
  margin: 0;
}

.cl-list--subtitle {
  color: black;
  font-weight: 600;
  font-size: 1.3em;
}

/* COLOR AND EFFECTS */
.cl-label--primary {
  color: #557ef8;
}

.cl-label--dashed::before {
  display: inline-block;
  content:"_____";
  font-family: arial;
  font-size: 1em;
  margin-right: .7em;
  transform: translateY(-.5em);
}

.cl-list--decentralised-economy-checked li {
  list-style-image: url(../icons/check.svg);
}

b {
  color: #777777;
}

.cl-list-1--icon li {
  width: 500px;
}

.cl-list--style {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  padding: 3rem;
}

.cl-list-1--icon li:nth-child(2n+1) {
  margin-left: 4rem;
}


.cl-list-1--icon li:first-child {
  list-style-image: url(../icons/services-icon-1.svg);
  
} 

.cl-list-1--icon li:nth-child(2) {
  list-style-image: url(../icons/services-icon-2.svg);
  margin-left: 4rem;
}

.cl-list-1--icon li:nth-child(3) {
  list-style-image: url(../icons/services-icon-3.svg);
}

.cl-list-1--icon li:nth-child(4) {
  list-style-image: url(../icons/services-icon-4.svg);
  margin-left: 4rem;

} 

.cl-list-1--icon li:nth-child(5) {
  list-style-image: url(../icons/services-icon-5.svg);
} 

.cl-list-1--icon li:nth-child(6) {
  list-style-image: url(../icons/services-icon-6.svg);
  margin-left: 4rem;
} 

.cl-telegram-link {
  text-indent: -9999px;
  background-image: url(../icons/telegram-link.png);
  background-position: center;
  background-repeat: no-repeat;
  width: 40px;
}

.navbar-collapse {
  flex-grow: unset !important;
}

.cl-navbar-brand:hover {
  opacity: 0.5;
}

.cl-btn-join:hover {
  background-color: #2ddfd1;
  border-color: white;
}

.nav-link {
  position: relative;
}

.nav-link::after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  content: "";
  background-color: #0c46f5;
  width: 0%;
  height: 2px;
}

.nav-link:hover::after {
  width: 100%;
}

/*Media Query*/

@media (max-width: 992px) {
  .cl-row-1, .cl-row-2 {
    display: block;
    float: unset;
    margin: 7rem;
    
  }

  .cl-section--decentralised-economy div {
    padding-left: 0;

  }

  .cl-margin-top {
    margin-top: 120px;
  }

}

@media (max-width: 767px) {
  .cl-list--style {
    display: list-item;
    margin-left: 3rem;
  }

}



