$bp-xs: 380px;
$bp-sm: 430px;
$bp-md: 650px;
$bp-lg: 1200px;

/*STYLE SM*/
@media (min-width: $bp-sm) {
    .navbar .mic {
      display: flex;
    }
  }

/*STYLE MD*/
@media (min-width: $bp-md) {
  .navbar {
    .btn-search {
        width: 40%;
        margin-left: auto;

        .search-input {
          display: flex;
    
          input {
            width: 100%;
          }    
        }      

        .search {
          margin-left: unset;
        }      
    }

    .mic {
      display: flex;
      margin-right: auto;
    }
  }
}

/*STYLE SM*/
@media (min-width: $bp-lg) {
  .navbar {
    padding: 0 2rem;
  }
}


  

